main > div {
    margin: 4rem 0rem 0rem 5rem;
    width: 100%;
    border: 1px solid #000000;
    position: relative;
    height: 90.4vh;
}
#addForm_main {
    display: flex;
    width: 100%;
}
#addForm_main > div{
    display: flex;
    flex-direction: column;
}
#addForm_main > div:nth-child(1){
    width: 50%;
    align-items: center;
    justify-content: center;
}
#img-showcase-container{
    display: none;
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
    border: 1px solid #0000;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#img-showcase-container p{
    z-index: -1;
    position: absolute;
    top: 6.5rem;
    left: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#img-showcase-container:hover img {
    opacity: 0.3;
}
#img-showcase-container h4{
    margin-bottom: 0.7rem;
}
#img-showcase-container img{
    width: 100%;
    height: 100%;
}
#img-uploader{
    position: relative;
    margin-top: 2rem;
    width: 17rem;
    height: 20rem;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}
#img-uploader > h3{
    position: absolute;
    top: -2rem;
}
#img-uploader > input {
    display: none;
}

#img-uploader > label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-uploader span{
    color: #000000;
    font-size: 5rem;
}
/* Second Half */
#addForm_main > div:nth-child(2){
    align-items: center;
    width: 50%;
    padding-top: 2.8rem;
}
#addForm_main > div:nth-child(2) > div{
    display: flex;
}
#addForm_main > div:nth-child(2) input, textarea {
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
}
#addForm_main > div:nth-child(2) select{
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: auto 2rem 1rem auto;
    width: 13rem;
}
#addForm_main > div:nth-child(2) p{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.3rem;
    height: 2.9rem;
    width: 12rem;
    border: 3px solid #e4dad8;
    color: #e4dad8;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}
#addForm_main > div:nth-child(2) p:hover{
    background-color: var(--dark-brown);
    border: 3px solid #ffffff;
    color: #ffffff;
}
#addForm_main > div:nth-child(2) > div:nth-of-type(3) input{
    width: 11rem;
}
#addForm_main > div:nth-child(2) > div:nth-of-type(3) input:nth-of-type(1){
    margin-right: 1.5rem;
}
#addForm_main > div:nth-child(2) textarea{
    width: 25.5rem;
    height: 6rem;
}
#addForm_main > div:nth-child(2) input[type="submit"]{
    width: 6rem;
    margin-top: 2rem;
    border-radius: 10rem;
    border: none;
    background-color: #07610c;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#addForm_main > div:nth-child(2) input[type="submit"]:hover{
    background-color: #0B8411;
    transform: scale(1.1);
}
