
#inventoryLog{
    background-color: #9f8f8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100%;
}
#h2-shadow{
    height: 5rem;
    border: none;
}
#inventoryLog h2{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 44.5%;
    background-color: red;
    text-align: center;
    background: rgba(255, 255, 255, 0.083);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

#inventoryLog.empty{
    justify-content: center;
}
#inventoryLog.empty p{
    font-size: 2rem;
}

#inventoryLog > div strong{
    color: #363231;
}

#inventoryLog > div{
    margin: 1rem 1.5rem;
    padding: 0.5rem;
    border-bottom: 3px solid #C4C7C2;
    width: 80%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}
#inventoryLog > div > div:nth-of-type(2) {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inventoryLog > div > div:nth-of-type(2) p strong{
    color: #ffffff;
}
#inventoryLog > div > div{
    display: flex;
    flex-direction: column;
}

#inventoryLog > div > div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

#inventoryLog > div > div:nth-child(2){
    text-align: center;
    margin-top: 1rem;
}
::-webkit-scrollbar-track{
    background-color: #877875;
}
