
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div {
    height: 100vh;
    margin: 0;
}
main > div:nth-child(1){
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > div:nth-child(2){
    width: 45%;
    background-color: var(--pale-green);
}

#login-logo-img-container{
    height: 3rem;
    width: 3rem;

}
#login-logo-img-container > img{
    height: 100%;
    width: 100%;
}
main > div:nth-child(1) > form > div:nth-of-type(1){
    margin-top: 1rem;
}
main > div:nth-child(1) > form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
main > div:nth-child(1) > form > div input{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;

}
main > div:nth-child(1) > form {
    display: flex;
    flex-direction: column;
}

main > div:nth-child(1) > form > .btn{
    width: 6rem;
    color: #ffffff;
    border: 3px solid var(--light-biege);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: transparent;
    transition: border 0.4s ease-in-out, background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}
main > div:nth-child(1) > form > .btn:hover{
    border: 3px solid var(--dark-brown);
    background-color: var(--dark-brown);
    transform: scale(1.1);
}
main > div:nth-child(1) > form > .btn:active{
    transform: scale(0.8);
}
main > div:nth-child(1) > form > input {
    color: #000000;
}
