:root{
    --pale-green: #C4C7C2;
    --pale-pink: #AE96A6;
    --dark-brown: #5A4C59;
    --dirty-biege: #877875;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body{
    background-color: var(--dirty-biege);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: var(--dark-brown);
}

header > #logo-img-container{
    width: 3rem;
    height: 3rem;
}

header > #logo-img-container > img{
    height: 100%;
    width: 100%;
}

header > div:nth-child(2){
    display: flex;
    align-items: center;
}

header > div > #account-image-holder{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

header > div > #account-image-holder > img{
    height: 100%;
    width: 100%;
}
